{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="page-heading">                              
        <div class="page-title">
            <div class="row">                   
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>{{ title }}</h3>
                    <p class="text-subtitle text-muted">The default layout.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Layout Default</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>       
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ title }}</h4>
                </div>
                <div class="card-body">
                    Bienvenue sur la première itération de la page adresses du PGI de Noveo Solutions
                    <br /><br />
                    <div class="card">
                    <table class="table table-dark mb-0">
                            <thead>
                                <tr>Adresse
                                <br /><br />
                                </tr>
                                <th>N°</th>
                                <th>Voie/rue</th>
                                <th>Ville</th>
                                <th>Code postal</th>
                            </thead>
                            <tbody>
                            <td>12</td>
                            <td>Rue des lilas</td>
                            <td>Limoges</td>
                            <td>40280</td>
                            </tbody>
                        </table> 
                    </div>  
                        {{form_start (form)}}  
                        <button class="btn btn-primary" type="submit">Enregistrer</button>  
                        {{form_end (form)}}           
                    {% if content|default %}
                        {{ content|default|raw }}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}