
{% block content %}
   <div class="col-12 col-md-6 order-md-1 order-last">

                    <p class="text-subtitle text-muted">Liste des tests</p>
                </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.Nom }}</td>
                <td>{{ test.Prenom }}</td>
                <td>
                    <a href="{{ path('app_test_show', {'id': test.id}) }}">Afficher</a>
                    <a href="{{ path('app_test_edit', {'id': test.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun test trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_test_new') }}">Ajouter test</a>
{% endblock %}
